@media screen and (max-width: 783px){
    .pager .page {
        display: none;
    }
    .pager .selected{
        display: inline;
    }
}
@media screen and (max-width: 410px) {
    ul.yiiPager .first, ul.yiiPager .last {
        display: none;
    }
}
@media screen and (max-width: 460px){
    div.wide.form label {
        text-align: left;
    }
}