@media screen and (max-width: 1130px){
    .products_list{
    	width: 70%;
    }
	.products_list .product_block {width: 50%}
}
@media screen and (max-width: 965px){
 /*   .products_list {
    	width: 60%;
    }*/
    .products_list .actions{
    	height: 65px;
    } 
    .products_list .actions .buttons{
    	float: left;
		margin-top: 10px;
    } 
    #header .blocks .middle{
    	float: left;
    	width: 300px;
    }
    #header .blocks .right{
    	margin-top: 0;
    }
	#top_menu li {padding-right: 15px}

}
@media screen and (max-width: 890px){
	#header .blocks .middle, #header .blocks .right {float: right}
}
@media screen and (max-width: 880px){
	.products_list {
    	width: 65%;
    }  
}
@media screen and (max-width: 790px){
	#top_menu .wrapper .left, #top_menu .wrapper .right {
		float: none;
		margin: 0 auto;
		display: block;
		clear: both;
		padding: 0 10px;
	}
	#top_menu .wrapper .left {max-width: 458px;}
	#top_menu .wrapper .right {max-width: 280px;}
}
@media screen and (max-width: 768px){
	.mainm {display: none!important}
	#filter {display: none}
	.products_list {
    	width: 100%;
    }
}
@media screen and (max-width: 590px){
	#header .blocks .middle, #header .blocks .right, #header .blocks .left  {float: none; clear: both;   display: block; margin: 0 auto;}

}
@media screen and (max-width: 490px){

.products_list .product_block {width: 100%}
.products_list.wide .product_block .table {float: none; margin: 0 auto;}
.products_list.wide .product_block  {height: auto; margin: 0 auto;}
.products_list.wide .product_block  .name {height: auto; text-align: center;}
.products_list.wide .product_block  .price {display:block; text-align: center;}
.products_list.wide .product_block  form {  width: 200px;}
}