
@charset "utf-8";
#content {
    width: 50%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    float: left;
}
#content h2{
    
}
#content .product{
    max-width: 980px;
    margin: 0 auto;
    
}
#content .product .info{
    display: inline-block;
    
}
#content .product .images{
    display: inline-block;

}
#content .product .info{
    display: inline-block;
    width: 400px;
}
.catalog_with_sidebar {
    
}
.products_list{
    float: left;
    width: 78%;
    padding-left: 1%;
    margin: 0 auto;
}
.catalog_with_sidebar .products_list .actions{
    font-size: 14px;  
    margin-bottom: 1px; 
}
.products_list .actions{
    padding-left: 10px;
}
.products_list .actions form{
    width: 188px;
    margin: 0 auto;
}
.products_list .actions .buttons {
    float:right;
	margin-right: 10px;
}
.products_list .actions .buttons div{
    background: #1abc9c;
    height: 30px;
    width: 120px;
    text-align: center;
}
.products_list .actions .buttons div a{
    line-height: 30px;
    float: none;
    font-size: 16px;
    font-weight: normal;
}
.products_list h1{
    padding-left: 10px;
    margin: 0 0 10px 0;
}
#filter {
    position: absolute;
    top: 540px;
    left: 0;
    display: inline-block;
    float:left;
    width: 19.5%;
    padding-left: 1.5%;
    min-width: 216px;
}

#filter .rounded {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding:10px;
    margin-bottom:10px;
    background-color:#e9e9e9;
/*  box-shadow:2px 2px 2px #d1d0d0;*/
}

#filter .filter_header {
    color:#595959;
    font-weight:bold;
    font-size:14px;
}

#filter ul.filter_links {
    list-style:none;
    margin-bottom:20px;
}

#filter ul.filter_links a {

}
#filter ul.filter_links.current a {
    margin-left: -18px;
    padding-left: 20px;
    background:transparent url("../images/icons/close_sprite.png") no-repeat top left;
}

#filter ul.filter_links.current a:hover {
    background:transparent url("../images/icons/close_sprite.png") no-repeat bottom left;
}

#filter .light {
    color:#989898;
    padding-left:3px;
}

a.cancel_filter {
    font-size:11px;
    color:#989898;
    margin-left:20px;
}

#filter ul.filter_links li {
    padding-left:20px;
}
@media screen and (max-width: 830px){
    #content .product{
        max-width: 400px;
        margin: 0 auto;
    }

}
/*
#filter {
    position: absolute;
    left: 1%;
    top: 540px;
    display: inline-block;
    float:left;
    width: 18.8%;
    border: 5px solid #1abc9c;
}
#filter .rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
    margin-bottom:10px;
}
#filter .filter_header {
    color:#333;
    font-weight:bold;
    font-size:16px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
}
#filter ul.filter_links {
    list-style:none;
    margin-bottom:20px;
}
#filter ul.filter_links.current a {
    margin-left: -18px;
    padding-left: 20px;
    background:transparent url("../images/icons/close_sprite.png") no-repeat top left;
}
#filter ul.filter_links.current a:hover {
    background:transparent url("../images/icons/close_sprite.png") no-repeat bottom left;
}
#filter .light {
    color:#989898;
    padding-left:3px;
}
a.cancel_filter {
    font-size:11px;
    color:#989898;
    margin-left:20px;
}
#filter ul.filter_links li {
    padding-left:20px;
    font-size: 14px;
}
#filter form {
    padding-top: 18px;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
#filter form input{
    padding: 18px 0 0 0;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #333; 
    width: 50px;
}
*/