@charset "utf-8";
#content {
    min-height: 1000px;
    display: inline-block;
    width: 79%;
}
.catalog_with_sidebar {
    position: relative;
}
.catalog_with_sidebar .products_list .actions{
    line-height: 30px;
    font-size: 14px;   
}
.products_list .actions form{
    width: 188px;
    margin: 0 auto;
}
.products_list .actions .buttons {
    float:right;
}
.products_list .actions .buttons div{
    background: #1abc9c;
    height: 30px;
    width: 120px;
    text-align: center;
}
.products_list .actions .buttons div a{
    line-height: 30px;
    float: none;
    font-size: 16px;
    font-weight: normal;
}
#filter {
    position: absolute;
    left: 0px;
    top: 700px;
    display: inline-block;
    float:left;
    width:210px;
    border: 5px solid #1abc9c;
    margin-left: 20px;
}
#filter .rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding:10px;
    margin-bottom:10px;
}
#filter .filter_header {
    color:#333;
    font-weight:bold;
    font-size:16px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 15px;
}
#filter ul.filter_links {
    list-style:none;
    margin-bottom:20px;
}
#filter ul.filter_links.current a {
    margin-left: -18px;
    padding-left: 20px;
    background:transparent url("../images/icons/close_sprite.png") no-repeat top left;
}
#filter ul.filter_links.current a:hover {
    background:transparent url("../images/icons/close_sprite.png") no-repeat bottom left;
}
#filter .light {
    color:#989898;
    padding-left:3px;
}
a.cancel_filter {
    font-size:11px;
    color:#989898;
    margin-left:20px;
}
#filter ul.filter_links li {
    padding-left:20px;
    font-size: 14px;
}
#filter form {
    padding-top: 18px;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
#filter form input{
    padding-top: 18px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #333; 
}
/*adaptive*/
/*action bars*/
@media screen and (max-width: 792px){
    .products_list .actions{
        height: 65px;
    }
    .products_list .actions .buttons{
        display: block;
        float: left;
    }
}
/*content width*/
@media screen and (max-width: 1170px){
    #content{
        width: 70%; 
    }
}
@media screen and (max-width: 820px){
    #content{
        width: 60%; 
    }
}
@media screen and (max-width: 620px){
    #content{
        width: 50%; 
    }
}
@media screen and (max-width: 500px){
    #content{
        display: block;
        width: 100%; 
        margin-top: 950px;
    }
}
/*header*/
@media screen and (max-width: 1034px){
    #header{
        height:220px; 
    }
    #header .blocks .left{
        display: block;
    }
    #header .blocks .middle{
        position: absolute;
        padding-left: 0;
        margin-left: 0;
        left: -10px;
        top: 130px;
        display: block;
    }
    #header .blocks .right{
        margin:0;
        padding:0;
        left: 0px;
        display: block;
        float: left;
    }
    #top_menu {
        width: 900px;
        font-size: 14px;
    }
    #top_menu * {
       float: left;
       padding: 0;
       margin: 0;
    }
}