/*header*/
#header {
	display: block;
}
#header #logo{
	height: 80px;
	margin: 0 auto;
	padding: 15px 0;
}
#header .blocks .left{
	position: static;
	float: left;
	margin-right: 10px;
	width: 20%;
	height: 110px;
	min-width: 216px;
}
#header .blocks .middle{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	margin: auto 0;
	height: 110px;	
	width: 36%;
}
#header .blocks .middle .search_box{
	position: relative;
	height: 40px;
	top:30px;
	padding:0;
}
#header .blocks .middle .search_box form{
	height: 40px;
}
#header .blocks .middle .search_box form input{
	width: 72%;
	padding: 0;
	padding-left: 3%;
	height: 40px;
}
#header .blocks .middle .search_box form button{
	height: 38px;
	width: 20%;
}
#header .blocks .middle .currencies{
	position: absolute;
	top: 25px;
	right: 0;
}
#header .blocks .right{
	position: static;
	float: right;
	margin: 0;
	padding: 0;
	height: 110px;
} 
#header .blocks .right #auth{
	position: static;
	height: 40px;
	margin-top:35px;
	width: 90px;
	display: inline-block;
	float: left;
}
#header .blocks .right #auth a{
	padding: 0;
}
#cart{
	position: static;
	display: inline-block;
	height: 40px;
	margin: 0;
	padding: 0;
	margin-top: 35px;
	margin-left: 5px;
	float: left;
}
#cart .cauntSmallCart{
	position: static;
	float: right;
	margin-right: -9px;
	margin-top: -12px;
}
@media screen and (max-width: 861px){
	#header .blocks .middle{
		width: calc(100% - 258px);
	}
    #header .blocks .middle .search_box{
		width: 100%;
	}	
    #header .blocks .right{
    	display: block;
    	position: static;
    	float: left;
    	height: 40px;
    	width: 100%;
    	padding: 0;
    	margin: 0;
    	margin-bottom: 15px;
    } 
    
	#header .blocks .right #cart{
		position: static;
		display: block;
		width: 95%;
		margin: 0 auto;
		padding: 0;
		float: none;
		clear: both;
	}
	#header .blocks .right #cart .cart_right{
		position: static;
		width: 100%;
	}
	#header .blocks .right #cart .cart_right .light{
		position: static;
		width: 100%;
	}
	#header .blocks .right #cart .cart_right .light .cart_left{

	}
	#header .blocks .right #cart .cauntSmallCart{
		margin-left: -12px;
	}
	#header .blocks .right #cart .priceSmallCart{
		position: static;
		width: 100%;
	}
	#header .blocks .right #auth{
		margin:0;
		position: absolute;
		width: 300px;
		height: 30px;
		top: 55px;
		left: 250px;
		font-size: 14px;
	}
	#header .blocks .right #auth a{
		margin:0;
		float: left;
		display: inline-block;
		padding-right: 5px;
	}
}
@media screen and (max-width: 790px){
	#header .blocks .right #auth{
		top: 100px;
	}
}
@media screen and (max-width: 530px){

}
/*product page*/
#content .product{
	text-align: left;
}
.product .images .additional{
	min-height: 0;
}

/*catalog*/
.products_list .product_block .name a{
	text-align: left;
	margin-left: 10%;
}
