.product-f-image{
    display: table-cell;
    height: 271px;
    vertical-align: middle;
}
.single-slide .col-md-12{
    padding: 0;
}
.bg-green .zigzag-bottom:first-child{
    vertical-align: bottom;
    position: relative;
    bottom: 0;
}
.bg-green{
    position: relative;
	  overflow: hidden;
}
.bg-green .zigzag-bottom:first-child{
    vertical-align: bottom;
    position: relative;
    bottom: 0;
    display: none;
}
.product-inner-price ins{
    color: #333333;
}