@font-face {
  font-family: 'DecimaNovaProLt';
  src: url('fonts/DecimaNovaProLt.woff'), url('fonts/DecimaNovaProLt.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Regular.woff'), url('fonts/RobotoCondensed-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

.carousel-inner .col-md-6{padding: 0;}
.carousel-inner .big-img{width: 100%;}

.logo img {
  width: 180px;
  height: auto;
  padding: 15px 0;
 } 
.shopping-item {
  margin-top: 28px;
}
.site-branding-area .sidebar-title {
margin-bottom: 0px;
}
.site-branding-area .single-sidebar {
margin-bottom: 0px;
margin-top: 28px;
}
body {
	font-family: 'DecimaNovaProLt';
}

.single-product-area .leftWrapper{
  padding-top: 0;
}
.clear {clear: both}

.product-gallery li {
  width: 100px;
  float: left;
  height: 65px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 2.5px;
}
.product-gallery li:last-child{
  margin-right: 0;
}
.product-gallery li a {
  float: none;
  border: none;
  overflow: hidden;
  height: 56px;
}

@media (min-width: 992px) {
.list-view .col-md-4:nth-child(3n+1) {padding-left: 0; padding-right: 20px}
 .list-view .col-md-4:nth-child(3n) {padding-right: 0; padding-left: 20px;}
 .list-view .col-md-4:nth-child(3n+2) {padding: 0 10px}

}

.promo-area .col-md-3:last-child .single-promo{ 
  padding: 20px 40px;
}
@media (max-width: 1200px) {
.mainmenu-area .navbar-nav {
  height: 50px;
}
}

#searchQuery {height: 42px;}

.mainmenu-area .navbar-header{
  position: relative;
}
.mainmenu-area .navbar-toggle {
  position: absolute;
  top: 0;
  left: 0;
}
#filterMob {left:auto; right:0;}