.product-carousel-price{
  color: #222;
  font-weight: 700;
  font-size: 14px;
}
.product-carousel-price .price{
  color: #333333;
  display: inline-block;
}
.product-upper{
  min-width: 100%;
  height: 300px;
}
.product-upper img{
  max-height: 300px;
}
.single-shop-product h2{
  height: 47px;
  overflow: hidden;
}
#yw1{
  width: 80%;
  padding-left: 60px;
  float: left;
  padding-top: 60px;
    
}
/*Bla-bla*/
.items{
  display: block;
}
.items .single-shop-product{
  margin-bottom: 80px;
}
/*leftWrapper*/
.leftWrapper{
  width: 20%;
  float: left;
  padding-top: 60px;
  min-width: 216px;

}
.user-menu #yw1{
  padding: 0;
}
/*filter*/

#filter {
    margin-top: 15px;
    display: block;
    float:left;
}
#filter input {
  width:33%;
  margin: 15px 0;
  height: 20px;
  margin:22 5px; 
  padding: 0 5px;
  text-align: center;
}
#filter .rounded {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding:10px;
    margin-bottom:10px;
    background-color:#e9e9e9;
/*  box-shadow:2px 2px 2px #d1d0d0;*/
}

#filter .filter_header {
    color:#595959;
    font-weight:bold;
    font-size:14px;
	padding-bottom: 5px;
}
#filter .rounded form{
  text-align: center;
}
#filter .rounded button{
  width: 100%;
}
#filter ul.filter_links {
    list-style:none;
    margin-bottom:20px;
    padding-left: 0;
}

#filter ul.filter_links a {

}
#filter ul.filter_links.current a {
    margin-left: -18px;
    padding-left: 20px;
    background:transparent url("../images/icons/close_sprite.png") no-repeat top left;
}

#filter ul.filter_links.current a:hover {
    background:transparent url("../images/icons/close_sprite.png") no-repeat bottom left;
}

#filter .light {
    color:#989898;
    padding-left:3px;
}

a.cancel_filter {
    font-size:11px;
    color:#989898;
    margin-left:20px;
}

#filter ul.filter_links li {
    padding-left:20px;
}

/*product page*/
.cart .quantity input{
  height: 42px;
}
/*mainm*/
@charset "utf-8";
.mainm,
.mainm ul,
.mainm ul li,
.mainm ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mainm {
  width: 100%;
  display: block;
  float: left;
  font-family: Raleway, sans-serif;
  color: #ffffff;
}
.mainm ul ul {
  display: none;
}
.mainm > ul > li.parent > ul {
  display: none;
}
.align-right {
  float: right;
}
.mainm > ul > li > a {
  padding: 16px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background: #1abc9c;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.mainm > ul > li > a:hover {
  color: #d8f3f0;
}
.mainm ul > li.has-sub > a:after {
  position: absolute;
  right: 26px;
  top: 19px;
  z-index: 5;
  display: block;
  height: 10px;
  width: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.mainm ul > li.has-sub > a:before {
  position: absolute;
  right: 22px;
  top: 23px;
  display: block;
  width: 10px;
  height: 2px;
  background: #ffffff;
  content: "";
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
.mainm ul > li.has-sub.open > a:after,
.mainm ul > li.has-sub.open > a:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.mainm ul ul li a {
  padding: 14px 22px;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  text-decoration: none;
  color: #dddddd;
  background: #49505a;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.mainm ul ul ul li a {
  padding-left: 32px;
}
.mainm ul ul li a:hover {
  color: #ffffff;
}
.mainm ul ul > li.has-sub > a:after {
  top: 16px;
  right: 26px;
  background: #dddddd;
}
.mainm ul ul > li.has-sub > a:before {
  top: 20px;
  background: #dddddd;
}
.mainm .parent ul {
    display: none;
}
.footer-menu #yw1{
  padding: 0;
}
.product-inner form{
  float: left;
}
.product-inner .blue_button{
  height: 42px;
  float: left;
}

.product-gallery li{
  list-style-type: none;
}
.product-gallery li a{
  float: left;
}
.product-option-shop .blue_button:hover{
  background: #222;
}
.category-container:hover .green-line{
  background: #222;
  cursor: pointer;
}
.category-container{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:1px solid #dddddd;
}
.category-container:hover{
  border: 1px solid #222;
}

.contactInfo{
  float: left;
  margin-top: 28px;
  font-size: 12px;
}
.site-branding-area .single-sidebar input[type="text"]{
  width: calc(100% - 84px);
  float: left;
  margin: 0;
}
.site-branding-area .single-sidebar form button{
  width: 82px;
  float: left;
}
.catalog {
  margin-top: 60px;
}
.catalog #yw1{
  width: calc(80% - 60px);
}
.catalog .products_list #yw1{
  padding-left: 0;
  padding-top: 0;
}
.price_slider #yw1{
  padding-top: 0;
  width: 95%;
}
.container #yw1{
  padding-top: 0;
}
.product-breadcroumb{
  font-size: 16px;
}
.container .product-breadcroumb{
  padding-top: 60px;
  padding-left: calc(20% + 60px);
}
.container .product-breadcroumb .actions {
  height: 22px;
  float: left; 
}
.container .product-content-right .product-breadcroumb{
  padding: 0;
}
.container .buttons{
  float: right;
  margin-top: -50px;
}

.viewTypeButton a{
  text-decoration: none;
  color: white;
}
.container #yw2 .items,
.container .catalog .products_list #yw2 .items{
  width: calc(80% - 60px);
  float: right;
}
/*order page*/
.container h1 #thx{
  color: #1abc9c;
  font-size: 30px;
}
.container h1 #orderID{
  color: #222;
  font-size: 20px;
}
.container .order_products .order_data .user_data h2{
  font-size: 20px;
  color: #222;
  padding-top: 0;
}
.container .order_products .order_data .user_data .form {
  font-size: 16px;
}
.container .order_products .order_data .user_data .form .parameter{
  font-weight: bold;
  color: #1abc9c
}
.container .order_products .cart_totals{
  font-weight: bold;
  font-size: 18px;
  color: #222;
}
.container #yw1 .items .product_block:first-child{
  padding-top: 10px;
}
.container #yw1 .items .product_block{
  padding-top: 60px;
  font-size: 16px;
  font-weight: bold;
}
.recount {
  float: right;
}
.product-breadcroumb select{
  margin-left: 5px;
  margin-right: 15px;
}
.footer-top-area{
  font-family: DecimaNovaProLt;
}
.list-view .blue_button{
  width: 100%;
}


/*media*/
@media (max-width: 1200px){
  #yw1{
    width: calc(100% - 276px);
  }
  .catalog #yw1{
  width: calc(100% - 276px);
  }
  .container .catalog .products_list #yw2 .items{
  width: calc(100% - 276px);
  float: right;
}
}
@media (max-width: 992px){
  .container .product-breadcroumb{
  padding-left: 276px;
  }
  .container #yw2 .items,
  .container .catalog .products_list #yw2 .items{
  width: calc(100% - 276px);
  float: right;
  }
}
@media (max-width: 992px){
  .container .buttons{
    float: left;
    padding-left: 60px;
    margin-top: 0;
  }
  .viewTypeButton{
    
  }
}
@media (max-width: 950px){
  .contactInfo{
    display: none;
  }
}

@media (max-width: 767px){
  .leftWrapper{
    display:none;
  }
  #yw1{
    padding: 10px;
    width: 100%;
  }
  .container .product-breadcroumb,
  .container .buttons{
    padding-left: 30px;
  }
  .catalog .products_list #yw1,
  .container #yw2 .items,
  .container .catalog .products_list #yw2 .items{
    width: 100%;
    float: right;
  } 
  .container .product-breadcroumb,
  .container .buttons{
  width: 100%;
  text-align: center;
  }
}

