.shopping-item{
	padding: 10px 15px;
}
.blue_button{
	width: 200px;
	width: 43px;
	background: none repeat scroll 0 0 #1abc9c;
	border: 0;
	outline: none;
	color: white;
}
.product-inner .blue_button{
	height: 42px;
  	float: left;
  	width: 140px;
}
.list-view .blue_button{
	height: 42px;
	width: 100%;
}
.section-title{
	margin-bottom: 30px;
	font-family: inherit;
}
.footer-top-area .row .col-md-3{
	margin-left: 35px;

}
.footer-wid-title{
	font-family:"DecimaNovaProLt"; 
}
.footer-top-area #yw1{
	width:100%;
}
@media (max-width: 1200px){
  #yw1{
  
  }
}
@media (max-width: 767px){
.footer-wid-title{
	margin-top: -40px;
}
#yw1{
    margin-bottom: 20px;
  }

#per_page{

}
}
@media (max-width: 475px){
.onPage{
	color: white;
}
#per_page{
	margin-top: 15px;
}
}
@media (max-width: 330px){
.onPage{
	display: none;
}
#per_page{
	margin-top: 40px;
}
}