.leftWrapper {
    padding-top: 30px;
}
#yw1 {
    padding-top: 0;
}
.contactInfo {
    font-size: 14px;
}
.zagolovok-korzina {
    margin-bottom: 30px;
}
.container .product-breadcroumb {
    padding-top: 30px;
}
.single-product-area {
    padding: 30px 0 130px;
}
.cart_h2 {
    margin: 30px 100px;
}
.product-inner .add_to_cart_button {
    background: none repeat scroll 0 0 #57aa3c;
}
#filter .rounded button {
    margin-top: 4px;
}