.leftWrapper {
    padding-top: 30px;
}
#yw1 {
    padding-top: 0;
}
.contactInfo {
    font-size: 14px;
}
.zagolovok-korzina {
    margin-bottom: 30px;
}
.container .product-breadcroumb {
    padding-top: 30px;
}